<div>
  <div class="row d-flex login-pages-border">
    <div class="col-12 login-pages-content">
      <div class="login-page-content-header">
        <h3>Signup</h3>
        <a routerLink="/client/">
          <i class="fa-regular fa-circle-xmark"></i>
        </a>
      </div>
      <form novalidate="" class="ng-untouched ng-pristine ng-invalid">
        <label for="password" class="login-page-label">Enetr mobile number</label>
        <div class="input-group mb-3">
          <input formcontrolname="password" id="password" name="password"
                 required="" placeholder="Enter Password" class="form-control" type="password"
          >
          <a class="login-eye d-flex align-items-center">
            <i class="fa-solid fa-eye-slash"></i>
          </a>
        </div>
        <!---->
        <label for="RefralId" class="login-page-label">Enter Refral Id </label>
        <div class="input-group">
          <input formcontrolname="refral" id="RefralId" name="refral" required=""
                 placeholder="Enter Refral Id" class="form-control " type="password"
          >
          <a class="login-eye d-flex align-items-center">
            <i class="fa-solid fa-eye-slash"></i>
          </a>
        </div>
        <div id="recaptcha-container" class="form-group"></div>
        <div class="input-group justify-content-end">
          <p type="submit" class="text-white forgot">
            <span style="color: var(--text-color-white);"> Already a member? </span>
            <a routerLink="/client/login" class="loginlink"> login</a>
          </p>
        </div>
        <div class="modal-footer justify-content-center my-3">
          <button type="submit" class="login-btn1 btn submit-button">
            <!----> sign up
          </button>
          <!---->
        </div>
      </form>
    </div>
  </div>
</div>
