<div class="left-bar-container">
  <div class="left-bar">
    <div data-simplebar class="h-100">

      <div class="tab-content pt-0">
        <div class="tab-pane active" id="up-tab" role="tabpanel">

          <div class="user-menus">
            <ul>
              <li><a routerLink="/client"  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/home2.png" alt="img">
                Home</a></li>
              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/Download.png" alt="img">
                App Download</a></li>
              <!-- <li><a class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Sports.webp" alt="img">
                sports</a></li> -->
              <li><a routerLink="/client/casinoInternational"  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/inr.png" alt="img">
                live casino</a></li>
              <!-- <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/Exchange.png" alt="img">
                Exchange</a></li> -->

              <li><a routerLink="/client/bonus" class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/Star.png" alt="img">
                Bonus</a></li>
              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/thumb.png" alt="img">
                Sponsorship</a></li>

              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/FAQ.png" alt="img">
                FAQs</a>
              </li>
              <!-- <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/sidenav/Joinus.webp" alt="img">
                Join as an Affilaite </a></li> -->
            </ul>
          </div>

        </div>


      </div>

    </div>
  </div>
</div>
