<div class="left-bar-container">
  <div class="left-bar">
    <div data-simplebar class="h-100">

      <!--<div class="right-side-menu__username">
        suraj
      </div>
      <div class="right-side-menu__account">
        <ion-item class="right-side-menu__item right-side-menu__item--balance item md ion-focusable hydrated item-label">
          <i class="mdi mdi-bank right-side-menu__item__icon"></i>
          <ion-label class="right-side-menu__item__label sc-ion-label-md-h sc-ion-label-md-s md hydrated">
            Balance Information
          </ion-label>
        </ion-item>

        <div class="right-side-menu__account__info">
          <div class="right-side-menu__account__info__item">
            <span class="right-side-menu__account__info__item__label">Available Credit:</span>
            <span class="right-side-menu__account__info__item__value  bold">0</span>
          </div>

        </div>
        <div class="right-side-menu__account__info">
          <div class="right-side-menu__account__info__item">
            <span class="right-side-menu__account__info__item__label">Net Exposure:</span>
            <span class="right-side-menu__account__info__item__value  bold">0</span>
          </div>

        </div>

      </div>
      <div class="right-side-menu__depositButtons">
        <button routerLink="/Deposit" class="right-side-menu__depositButtons-dep">
          Deposit
        </button>
        <button routerLink="/withdraw" class="right-side-menu__depositButtons-with">
          Withdrawal
        </button>
      </div>-->



      <div class="tab-content pt-0">
        <div class="tab-pane active" id="up-tab" role="tabpanel">

          <div class="user-menus">
            <ul>
              <li><a routerLink="/profile" class="waves-effect waves-light">
                <img src="assets/myexch/Home1.png" alt="img">
                Home</a></li>
              <li><a routerLink="/edit-password" class="waves-effect waves-light">
                <img src="assets/myexch/Download.png" alt="img">
                App Download</a></li>
              <li><a routerLink="/statement" class="waves-effect waves-light">
                <img src="assets/myexch/Sports.png" alt="img">
                sports</a></li>
              <li><a routerLink="/profitloss" class="waves-effect waves-light">
                <img src="assets/myexch/Casino.png" alt="img">
                live casino</a></li>
              <li><a routerLink="/bet-history" class="waves-effect waves-light">
                <img src="assets/myexch/Exchange.png" alt="img">
                Exchange</a></li>

              <li><a routerLink="/edit-stack" class="waves-effect waves-light">
                <img src="assets/myexch/promotion.png" alt="img">
                promotion</a></li>
              <li><a routerLink="/result" class="waves-effect waves-light">
                <img src="assets/myexch/Sponsors.png" alt="img">
                spornship</a></li>

              <li><a routerLink="/withdraw" class="waves-effect waves-light">
                <img src="assets/myexch/FAQ.png" alt="img">
                FAQs</a>
              </li>
              <li><a routerLink="/Deposit" class="waves-effect waves-light">
                <img src="assets/myexch/Joinus.png" alt="img">
                Join as an Affilaite </a></li>
            </ul>
          </div>

        </div>


      </div>

    </div>
  </div>
</div>
