<div class="left-bar-container">
  <div class="left-bar">
    <div data-simplebar class="h-100">

      <div class="tab-content pt-0">
        <div class="tab-pane active" id="up-tab" role="tabpanel">

          <div class="user-menus">
            <ul>
              <li><a routerLink="/client"  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Home1.webp" alt="img">
                Home</a></li>
              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Download.webp" alt="img">
                App Download</a></li>
              <!-- <li><a class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Sports.webp" alt="img">
                sports</a></li> -->
              <li><a routerLink="/client/casinoInternational"  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Casino.webp" alt="img">
                live casino</a></li>
              <!-- <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Exchange.webp" alt="img">
                Exchange</a></li> -->

              <li><a routerLink="/client/bonus" class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/promotion.webp" alt="img">
                Bonus</a></li>
              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Sponsors.webp" alt="img">
                Sponsorship</a></li>

              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/FAQ.webp" alt="img">
                FAQs</a>
              </li>
              <li><a  class="waves-effect waves-light sideNavCheck">
                <img src="assets/myexch/Joinus.webp" alt="img">
                Join as an Affilaite </a></li>
            </ul>
          </div>

        </div>


      </div>

    </div>
  </div>
</div>
