<div class="pg-container">


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="pg-header" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <img src="assets/banks/bank.png">
      </button>

    </h2>
    <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <div  class="bank-detail">
          <label >Make your payment on the details below:</label>
          <table  style="margin: 0 auto;">
            <tr >
              <td  class="detail-name"> Paytm Name </td>
              <td  class="detail-data"> : Rajesh Kumar Prajap </td>
            </tr>
            <tr >
              <td  class="detail-name"> Paytm Number </td>
              <td  class="detail-data"> : 8239596001 </td>
            </tr>
          </table>
          <div >
            <div  class="d-flex justify-content-center my-3">
              <div  class="btn">
                <label  for="customFile1" class="form-label text-white image-upload-extion">
                  <i class="fa-solid fa-circle-plus"></i>
                  <p >Click here to upload payment screenshot.</p>
                </label>
                <input  type="file" id="customFile1" class="form-control d-none">
              </div>
            </div>
            <button  type="button" class="btn deposit-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="pg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <img src="assets/banks/paytm.png">
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <div  class="bank-detail">
          <label >Make your payment on the details below:</label>
          <table  style="margin: 0 auto;">
            <tr >
              <td  class="detail-name"> Paytm Name </td>
              <td  class="detail-data"> : Rajesh Kumar Prajap </td>
            </tr>
            <tr >
              <td  class="detail-name"> Paytm Number </td>
              <td  class="detail-data"> : 8239596001 </td>
            </tr>
          </table>
          <div >
            <div  class="d-flex justify-content-center my-3">
              <div  class="btn">
                <label  for="customFile2" class="form-label text-white image-upload-extion">
                  <i class="fa-solid fa-circle-plus"></i>
                  <p >Click here to upload payment screenshot.</p>
                </label>
                <input  type="file" id="customFile2" class="form-control d-none">
              </div>
            </div>
            <button  type="button" class="btn deposit-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingFour">
      <button class="pg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <img src="assets/banks/googlepay.png">
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour   " data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <div  class="bank-detail">
        <label >Make your payment on the details below:</label>
        <table  style="margin: 0 auto;">
          <tr >
            <td  class="detail-name"> Paytm Name </td>
            <td  class="detail-data"> : Rajesh Kumar Prajap </td>
          </tr>
          <tr >
            <td  class="detail-name"> Paytm Number </td>
            <td  class="detail-data"> : 8239596001 </td>
          </tr>
        </table>
        <div >
          <div  class="d-flex justify-content-center my-3">
            <div  class="btn">
              <label  for="customFile3" class="form-label text-white image-upload-extion">
                <i class="fa-solid fa-circle-plus"></i>
                <p >Click here to upload payment screenshot.</p>
              </label>
              <input  type="file" id="customFile3" class="form-control d-none">
            </div>
          </div>
          <button  type="button" class="btn deposit-submit">Submit</button>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="pg-header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <img src="assets/banks/phonepay.png">
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <div  class="bank-detail">
          <label >Make your payment on the details below:</label>
          <table  style="margin: 0 auto;">
            <tr >
              <td  class="detail-name"> Paytm Name </td>
              <td  class="detail-data"> : Rajesh Kumar Prajap </td>
            </tr>
            <tr >
              <td  class="detail-name"> Paytm Number </td>
              <td  class="detail-data"> : 8239596001 </td>
            </tr>
          </table>
          <div >
            <div  class="d-flex justify-content-center my-3">
              <div  class="btn">
                <label  for="customFile3" class="form-label text-white image-upload-extion">
                  <i class="fa-solid fa-circle-plus"></i>
                  <p >Click here to upload payment screenshot.</p>
                </label>
                <input  type="file" id="customFile3" class="form-control d-none">
              </div>
            </div>
            <button  type="button" class="btn deposit-submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
