.pg-header{
  background: var(--deposit-card-bg-grad);
  width: 223px;
  height: 140px;
  margin: 20px;
  border-radius: 10px;
  padding: 1vw;
  border: 0;
  margin-bottom: 5px;
}
 .bankButton{
  display: inline-flex;
  align-content: center;
  flex-direction: row;
  align-items: center;
}
.pg-header img{
  width: 10vw;
}
.whatsapp img {
  width:50px !important;
}
.whatsapptext{
  font-size: 20px;
  font-weight: 600;
}
.pg-container{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 100px;
}
.accordion {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.accordion-item{
  background:transparent;
  border: 0px solid rgba(0,0,0,.125);
}
.accordion-body{
  background: var(--deposit-card-bg);
  margin: 0 auto;
  border-radius: 10px;
  padding: 0.25rem;
  margin-bottom: 5px;
  margin: 0px 20px;
}
.bank-detail label{
  color: var(--event-title-bg);;
  font-weight: 600;
}
.detail-data, .detail-name {
  text-align: left;
  color: var(--event-title-bg);
}
.detail-name{
  font-weight: 700;
}
.image-upload-extion {
  background-color: #0e0c0c;
  border-radius: 10px;
  width: 50vw;
  padding: 8% 0;
}
.image-upload-extion   p {
  margin: 10px 0;
  font-size: 10px;
}
.deposit-submit {
  background: var(--header-color);
  color: var(--text-color-white);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: .55rem 1.75rem;
}
.bankfont{
  font-weight: 600;
}
.submitAcount{
  background: var(--theme-color);
  color: var(--event-title-bg);
}

@media screen and (max-width: 767px) {
  .image-upload-extion {
    background-color: var(--event-title-bg);
    border-radius: 10px;
    width: 70vw;
    padding: 15% 0;
  }
  .detail-data, .detail-name {
    font-size: 12px ;
  }
  .bankfont{
    font-size: 30px;
    font-weight: 600;
  }
  .bankButton{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media screen and (max-width: 900px){
  .accordion {
    flex-direction: column;
  }
  .pg-header{
    width: 346px;
    height: 85px;
  }
  .pg-header img {
    width: 30vw;
  }
  .phonePayImg{
    width: 34vw !important;
  }
  .whatsapptext{
    font-size: 20px;
  }

  .whatsapp img {
    width:50px !important;
  }
  .bankButton{
    display: block;
  }
  .pg-container{
    padding: 0%;
    width: fit-content;
  }

}
@media only screen and (min-width:280px) and (max-width: 319px) {
  .pg-header ,.accordion-body,.recordList {
    width: 230px !important;
  }
  .recordList{
    width: 225px;
  }
  .whatsapptext {
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 370px) {
  .pg-header ,.accordion-body,.recordList{
    width: 280px !important;
  }
  .recordList{
    width: 275px;
  }

}
