<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Player
    Level
  </div>
  <div class="card-body text-center coinBody">
    <div class="coin bronze"><span class="coinText">Bronze</span></div>
    <div class="coin ml-4 bronze"><span class="coinText">1%</span></div>
  </div>
</div>

<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Main Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="currency">INR</span><span
      id="mainBalance">0.00</span></dd>
    <dd class="wallet-exposure">Exposure <span id="mainExposure">0.00</span></dd>
  </div>
</div>
<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Royal Gaming Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency_6">INR</span><span
      id="vendorBalance_6">0</span>
    </dd>
    <dd class="wallet-recall">
      <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall_6"
              onclick="MobileBalanceShowingHandler.recall('6')"> Claim
      </button>
    </dd>
  </div>
</div>
<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Housie Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency">INR</span><span
      id="vendorBalance">$ 0.00</span>
    </dd>
    <dd class="wallet-recall">
      <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall">Claim</button>
    </dd>
    <dl id="recallAllDl" class="wallet-detail-content">
      <dd class="align-R">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recallAll">Claim All</button>
      </dd>
    </dl>
  </div>
</div>


<div class="wallet-detail">

  <div id="walletTemp" class="wallet-detail-group" style="display: none;">
    <dl id="tempDl" class="wallet-detail-content">
      <dt id="vendorTitle">Housie Balance</dt>
      <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency">USD</span><span
        id="vendorBalance">$ 0.00</span>
      </dd>
      <dd class="wallet-recall">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall">Claim</button>
      </dd>
    </dl>
    <dl id="recallAllDl" class="wallet-detail-content">
      <dd class="align-R">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recallAll">Claim All</button>
      </dd>
    </dl>
  </div>
  <div class="btn-box">
    <button class="btn btn-send ui-btn ui-shadow ui-corner-all" style="float:right" routerLink="/client" id="balanceClose">Close</button>
  </div>
</div>
