<!-- <div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Player
    Level
  </div>
  <div class="card-body text-center coinBody">
    <div class="coin bronze"><span class="coinText">Bronze</span></div>
    <div class="coin ml-4 bronze"><span class="coinText">1%</span></div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 card">
      <div class="d-flex mainBalanceIcon">
        <p class="mainHeading">Main Balance</p>
        <!-- <i class="fa-solid fa-circle-info mt-1" data-bs-toggle="modal" data-bs-target="#infoModal" style="color: black;"
          ></i> -->
          <p class="btn-group dropdown dropstart min-max-drop mt-1">
            <a data-toggle="dropdown" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">
              <i type="button" class="fa-solid fa-circle-info float-end rules13" style="color:black"></i>
            </a>

            <span class="dropdown-menu">
              <a class="dropdown-item word-wrap">
                300 % bonus on First time deposit if <br>
                the customer completes 10x rolling   <br>
                Plus  Additional  1% bonus for every <br>
                rollover . Upto 1000 %. Claim Anytime </a>
            </span>

          </p>
        
      </div>
       
      <div>
        <span class="currency p-1 m-1">INR</span>
        <span class="mainHeading">0.00</span>
      </div>
      <div class="d-flex mt-2 mainBalanceExplosure">
         <div class="">Explosure</div>
         <div>0.00</div>
      </div>

    </div>

  </div>


  <div class="row mt-2">
    <div class="col-12 card">
      <p class="mainHeading">Royal Gaming Balance</p>
      
      <div class="d-flex gameCard">
      <div>
        <span class="currency p-1 m-1">INR</span>
        <span class="mainHeading">0.00</span>
      </div>
      <div>
        <button class="gameCardButton mb-1">Recall</button>
      </div>
    </div>
    </div>

  </div>



</div>

<span class="dropdown-menu">
  <a class="dropdown-item">HY</a>
  <a class="dropdown-item">HELLO</a>
</span>


 <!-- Info Modal -->
 <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
     
      </div>
      <div class="modal-body ">
        <div class="info-modal-body">
       
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 
<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Main Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="currency">INR</span><span
        id="mainBalance">0.00</span></dd>
    <dd class="wallet-exposure">Exposure <span id="mainExposure">0.00</span></dd>
  </div>
</div>
<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Royal Gaming Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency_6">INR</span><span
        id="vendorBalance_6">0</span>
    </dd>
    <dd class="wallet-recall">
      <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall_6"
        onclick="MobileBalanceShowingHandler.recall('6')"> Claim
      </button>
    </dd>
  </div>
</div>
<div class="card  border-refer">
  <div class="card-header text-center account-detail-head bronze" style="color: black;"> Housie Balance
  </div>
  <div class="card-body text-center coinBody">
    <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency">INR</span><span id="vendorBalance">$
        0.00</span>
    </dd>
    <dd class="wallet-recall">
      <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall">Claim</button>
    </dd>
    <dl id="recallAllDl" class="wallet-detail-content">
      <dd class="align-R">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recallAll">Claim All</button>
      </dd>
    </dl>
  </div>
</div> -->


<!-- <div class="wallet-detail">

  <div id="walletTemp" class="wallet-detail-group" style="display: none;">
    <dl id="tempDl" class="wallet-detail-content">
      <dt id="vendorTitle">Housie Balance</dt>
      <dd class="wallet-balance-num"><span class="badge-currency" id="vendorCurrency">USD</span><span
          id="vendorBalance">$ 0.00</span>
      </dd>
      <dd class="wallet-recall">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recall">Claim</button>
      </dd>
    </dl>
    <dl id="recallAllDl" class="wallet-detail-content">
      <dd class="align-R">
        <button class="btn-recall ui-btn ui-shadow ui-corner-all" id="recallAll">Claim All</button>
      </dd>
    </dl>
  </div>
  <div class="btn-box">
    <button class="btn btn-send ui-btn ui-shadow ui-corner-all" style="float:right" routerLink="/client"
      id="balanceClose">Close</button>
  </div>
</div> -->