<div  class="myexch-lan-footer">
  <div  class="text-left text-white m-3"></div>
  <div  class="text-center my-3">
    <button  type="button" class="btn payment-button"> PAYMENT METHODS </button>
    <div  class="payment-option-image">
      <img  src="assets/image/myexch/GPay.png" alt="" class="upi-img1">
      <img  src="assets/image/myexch/BankTranfer.png" alt="" class="upi-img1">
      <img  src="assets/image/myexch3/PhonePe.png" alt="" class="upi-img1">
      <img  src="assets/image/myexch/UPI.png" alt="" class="upi-img">
      <img  src="assets/image/myexch/Paytm.png" alt="" class="upi-img1">
      <img  src="assets/image/myexch3/Astropay.png" alt="" class="upi-img1 border-0">
    </div>
  </div>
  <div  class="text-center my-3 followus-daat">
    <p  class="follow-text"> Follow us on</p>
    <div  class="payment-option-image1">
      <img  src="assets/image/facebook.png" alt="">
      <img  src="assets/image/instagram.png" alt="">
      <img  src="assets/image/twitter.png" alt="">
      <img  src="assets/image/telegram.png" alt="">
    </div>
  </div>
</div>
