<div  class="myexch-lan-footer">
  <div  class="m-3"></div>
  <div  class="text-center my-3">
    <span class="payment-span"> PAYMENT METHODS </span>
    <div  class="footer-image-container">
        <img *ngFor="let item of paymentMethods"
             [src]="item.imglink"
             [alt]="item.alternate"
        >
    </div>
  </div>
  <div  class="text-center my-3 followus-daat">
    <p  class="follow-text"> Follow us on</p>
    <div  class="socialmedia-imgs-container">
      <a *ngFor="let item of socialmedia">
        <img  [src]="item.imglink" [alt]="item.alternate">
      </a>
    </div>
  </div>
</div>
