/* .box{
    display: grid;
    background-color: #eee9e3;
    height: 100vh;
    place-items: center;
    overflow-y: scroll;
}
.payment-options {
    margin-top: 25px;
}
.payment-options ul {
    border: 1px solid #ced4da;
    border-radius: 15px;
    background: var(--text-color-white);
    text-align: center;
    margin-bottom: 0;
}
.payment-options ul li{
   
}
.tablinks img{
    width: 100px;
    height: auto;
    padding:9px;
}

.tabcontent {
    margin-bottom: 50px;
    padding: 25px;
    background: var(--text-color-white);
    text-align: center;
    border: 1px solid #ced4da;
    width: auto;
    height: auto;
    border-radius: 10px;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: black;
    font-weight: 600;
    margin-top: 10px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
p{
    color: var(--event-title-bg);
}
button, input {
    overflow: visible;
} */


/* New Css For New Wihtdraw Styles */
.card{
     background: var(--deposit-card-bg); 
    color: var(--event-title-bg);;
}
.account-detail-head {
    font-weight: 700;
    font-size: 14px;
    background: var(--newsColor);
    padding: 6px;
    color: var(--event-title-bg);
    display: flex;
    justify-content: space-between;
}
.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.btn-outline-secondary {
    color: var(--event-title-bg);
    border-color: #c8ced3;
    background: var(--theme-color);
}
.btn-group-sm>.btn, .btn-sm {
    padding: .25rem .5rem;
    font-size: .765625rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.instant{
    background: var(--theme-color);
    color: var(--event-title-bg);
    border-color: var(--event-title-bg);
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.badge-danger {
    color: #fff;
    background-color: #f86c6b;
}
.badge-success{
    color: #fff;
    background-color: rgb(12, 116, 16);
}