<!-- <div class="box">
    <form novalidate="" action="" class="ng-untouched ng-pristine ng-invalid">
        <div class="payment-options">
            <ul class="list-unstyled">
                <li><a id="defaultOpen" class="tablinks text-center">
                        <img src="https://api.fancyfair247.com/payment-gateway/imps.png"></a>
                    <a id="defaultOpen" class="tablinks text-center"><img
                            src="https://api.fancyfair247.com/payment-gateway/GPay.png"></a>
                    <a id="defaultOpen" class="tablinks text-center"><img
                            src="https://api.fancyfair247.com/payment-gateway/PayTM.png"></a>
                    <a id="defaultOpen" class="tablinks text-center"><img
                            src="https://api.fancyfair247.com/payment-gateway/phonepay.png"></a>
                </li>
            </ul>
            <p class="text-success font-weight-bold text-capitalize text-center"> select the
                option from Above</p>
        </div>
        <div id="firstTab" class="tabcontent">
            <div class="form-group">
                <label for="formGroupExampleInput">Account name</label>
                <input type="text" name="accName" formcontrolname="accName" id="formGroupExampleInput"
                    placeholder="Account Holder Name" class="form-control ng-untouched ng-pristine ng-invalid">
            </div>

            <div class="form-group"><label for="formGroupExampleInput">Phone no/ UPI ID</label><input type="text"
                    name="mobNo" formcontrolname="mobNo" id="formGroupExampleInput" placeholder="Phone no/ UPI ID"
                    class="form-control ng-untouched ng-pristine ng-invalid"></div>
            <p>Request Method</p>
            <div class="form-check form-check-inline">
                <input type="radio" name="flexRadioDefault" id="flexRadioDefault1" class="form-check-input mt-3"><label
                    for="flexRadioDefault1" class="form-check-label"> Normal </label>
            </div>

            <div class="form-check form-check-inline">
                <input type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked=""
                    class="form-check-input mt-3"><label for="flexRadioDefault2" class="form-check-label"> Fast
                </label>
            </div>
            <div class="form-group">
                <label ßfor="formGroupExampleInput">Amount</label>
                <input type="number" name="amount" formcontrolname="amount" id="formGroupExampleInput"
                    placeholder="Amount" class="form-control ng-untouched ng-pristine ng-invalid">
            </div>
            <div class="check2">
                <button type="submit" class="btn btn-primary mt-3"> Withdraw</button>
            </div>
            <div class="mt-2">
                <p class="font-weight-bold text-uppercase"> min:100 max:100000 </p>
                <p class="text-capitalize "> After 20 min check your request status. <a routerlink="/RequestStatus"
                        href="/RequestStatus"> click</a></p>
            </div>
        </div>
    </form>
</div> -->



<!-- withdraw old design ends -->

<div class="card">
    <div class="card-header account-detail-head">
        <span style="line-height: 25px;"> Withdraw 24*7 </span>
        <button class="btn  btn-outline-secondary btn-sm font-weight-bolder pull-right" tabindex="0">Add Bank
            Account</button>
    </div>
    <div class="card-body account-stat-body">
        <div class="row">
            <div class="col-md-12 row">
                <!---->
                <div class="col-md-4">
                    <form [formGroup]="WithdrawForm" >
                    <div class="form-group">
                        <label>Withdrawal Amount <span class="asterisk_input"></span>
                        </label>
                        <input class="form-control ng-untouched ng-pristine ng-valid" formControlName="amount" name="withdrawAmount" type="number" 
                        (keyup)="calculateWithdrawalAmount()">
                    </div>
                </form>
                </div>
                <div class="col-md-12 mt-2 feedata">
                    <div class="alert alert-danger m-0" *ngIf="(CWAmount?.meta?.status_code!==200) && CWAmount">
                        <div class="feedata" >
                            <strong class="light-grey-text">{{CWAmount?.meta?.message}}</strong>
                        </div>
                        
                    </div>
                    <div  class="alert alert-success m-0" *ngIf="CWAmount?.meta?.status_code==200">
                        <div  class="feedata">
                            <strong 
                                class="light-grey-text">Amount: {{CWAmount?.data?.amount}}</strong>
                                <strong 
                                class="light-grey-text">Processing Time: {{CWAmount?.data?.time}}</strong>
                                <strong
                                class="light-grey-text">Fee: {{CWAmount?.data?.fee}}</strong>
                                <strong
                                class="light-grey-text">Withdraw Amount: {{CWAmount?.data?.withdrawalAmount}}
                            </strong>
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="col-md-12 mt-3">
                    <div class="form-group">
                        <button class="btn btn-primary mr-2 instant">Withdraw Coins</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Withdrawal Type</th>
                                <th>Request Time</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!---->
                            <tr>
                                <td>109</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>5000</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-success">Success</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>2000</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>10000</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>2500</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>2800</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <tr>
                                <td>20000</td>
                                <td>NORMAL</td>
                                <td> - </td>
                                <td>
                                    <span class="badge badge-danger">REJECT</span>
                                </td>
                                <td class="text-center">
                                    <!---->
                                    <span>-</span>
                                    <!---->
                                </td>
                            </tr>
                            <!---->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>