<div class="myexch-desktop-header">
  <i class="fa fa-bars menu-button2 mobile" aria-hidden="true"></i>
  <img routerLink="/client" alt="" class="myexch-logo" src="assets/logo/NewLogo1.png">
  <div class="myexch-login-buttons">
    <div class="myexch-serch-header desktop"><input type="text"
                                                    placeholder="Search.." name="search"
                                                    class="serch-input">
      <button type="submit" class="serch-button"><i
        class="fa fa-search"></i></button>
    </div>
    <button type="button" routerLink="/client/login" class="btn myexch-login" tabindex="0">log
      in
    </button>
    <button type="button" routerLink="/client/signup" class="btn myexch-login2" tabindex="0">sign
      up
    </button>
  </div>
</div>
