
.myexch-desktop-header{
  background: var(--header-color);
}
.menu-button2{
  font-size: 24px;
}
.btn{
  height: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 0;
  width: 10vw;
  font-weight: 700;
  padding: 0.375rem 0.55rem;
}
.myexch-signup{
  background: var(--theme-color);
  margin-left: 1vw;
}
.myexch-login{
  background: var(--text-color-white);
  margin-left: 1vw;
}
.serch-button{
  background: var(--text-color-white);
  border: none;
  width: auto;
}
.myexch-serch-header{
  background: var(--text-color-white);
}
.myexch-serch-header input {
  padding: 0 1vw;
  background: var(--text-color-white);
  border: none;
}
.myexch-logo{
  width: 148px;
  height: 65px;
}
@media screen and (max-width: 767px) {
  .myexch-logo{
    width: 100px;
    height: 50px;
  }
  .hideInMobile{
    display: none !important;
  }
  .btn{
    font-size: 15px;

  }
  .myexch-login{
    margin-left: 0;
  }
  .myexch-signup{
    background: var(--theme-color);
    margin-left: 3vw;
    margin-right: 0.25rem;
  }
}
@media screen and (max-width: 350px) {
  .btn.myexch-signup, .btn.myexch-login{
    font-weight: 600;
    font-size: 12px;
    width: 66px;
    padding: 0.25rem;
  }
  .myexch-logo {
    width: 87px;
    height: 50px;
  }
}
@media screen and (min-width: 350px) and (max-width: 450px) {
  .btn.myexch-signup, .btn.myexch-login{
    font-size: 14px;
    width: 80px;
  }
}
@media screen and (min-width: 768px){
  .showInmobile{
    display: none !important;
  }
}
