<div class="myexch-desktop-header"><i id="toggle-sidemenu"
                                      class="mdi mdi-menu menu-button2 mobile"></i><img
  alt="" class="myexch-logo" src="assets/image/myexch3/NewLogo1.png">
  <div class="myexch-login-buttons">
    <div class="myexch-serch-header desktop"><input type="text"
                                                    placeholder="Search.." name="search"
                                                    class="serch-input">
      <button type="submit" class="serch-button"><i
        class="fa fa-search"></i></button>
    </div>
    <button type="button" routerlink="/auth/loginpage" class="btn myexch-login" tabindex="0">log
      in
    </button>
    <button type="button" routerlink="/auth/signpage" class="btn myexch-login2" tabindex="0">sign
      up
    </button>
  </div>
</div>
