<div class="category-navigation">
<!--  <div class="full-color">-->
<!--    <ul class="category-navigation-container">-->
<!--      <li class="category-navigation-item" *ngFor="let cat of catTabs">-->
<!--        <a class="category-navigation-item-link" [ngClass]="selectedSportId ==cat.sportId?'active':''" (click)="categoryType(cat.sportId)">-->
<!--        <span class="category-navigation-item-icon">-->
<!--          &lt;!&ndash; <img class="catIcon" [src]="cat.iconUrl"> &ndash;&gt;-->
<!--          <img class="catIcon" [src]="['assets/icons/'+cat.sportId+'.webp']">-->
<!--        </span>-->
<!--          <span-->
<!--            class="category-navigation-item-label">{{cat.sportName}}</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

  <div class="full-color">
    <ul class="category-navigation-container">
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/1.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/7.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/66101.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/7522.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/66103.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>
      <li class="category-navigation-item">
        <a class="category-navigation-item-link">
        <span class="category-navigation-item-icon">
          <!-- <img class="catIcon" [src]="cat.iconUrl"> -->
          <img class="catIcon" [src]="['assets/icons/27979456.webp']">
        </span>
          <span
            class="category-navigation-item-label">Soccar</span>
        </a>
      </li>

    </ul>
  </div>
</div>
<!-- Content Area -->
<div class="market-events">

  <div class="markets" *ngFor="let market of markets">

    <a routerLink="/client/market-details">
      <div class="row mx-0 text-capitalize sport-list fgl-1 myexch-lan-rate-card">
        <div class="col-md-7 col-12  d-flex name-sport px-0">
          <div class="col-md-1 col-2 px-0 align-self-center text-center">
            <button type="button" class="btn update">
        <span class="">
          <img src='assets/icons/football.webp' class="starImg">
        </span>
            </button>
          </div>
          <div class="col-md-10 col-10 px-0 align-self-center">
            <div class="team-name">
        <span class="tn-icons">
          <i class="mdi mdi-timer-outline"></i>
        </span>
              <p>
                <span class="name">  {{market?.eventName}}  </span>
                <span class=" mr-1" *ngIf="'IN_PLAY' === 'IN_PLAY'"></span>
                <span class="sport-event-list-icon">
            <span *ngIf="market.isStreaming == true">
              <img src="assets/icons/TV.webp" style="width: 17px; height: 15px; margin:0px 5px;">
            </span>
            <span>
              <img *ngIf="market.isFancy == true" src="assets/icons/ficon.webp"
                   style="width: 17px; height: 15px; margin:0px 5px;">
              <img *ngIf="market.isBookmakers == true" src="assets/icons/B.webp"
                   style="width: 17px; height: 15px; margin:0px 5px;">
            </span>
          </span>
                <br>
                <span class="name1">
             {{market.tournamentName}} </span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-12 mt-md-0 mt-2 px-lg-0 px-0 text-center align-self-center mx-0 rates-area">
          <button class="blue-area">{{market.oddsData.runners[0].price.back[0].price}}</button>
          <button class="red-area">{{market.oddsData.runners[0].price.lay[0].price}}</button>
          <button class="live-area scroller" [ngClass]="{'livebox' : market.oddsData.inPlay==true}">
            <!--            <marquee direction="down" scrollamount="1">-->
            <div *ngIf="market.oddsData.inPlay==true" style="padding: 0px">
              <b class="time1 live2">live</b>
            </div>

            <!--            </marquee>-->
            <!--            <marquee direction="down" scrollamount="3">-->
            <div *ngIf="market.oddsData.inPlay==false">
              <b class="time1" style=" animation: heartbeat 1s infinite;"> {{market.eventTime | date:'shortTime'}}</b>
            </div>
            <!--            </marquee>-->
          </button>
          <button class="blue-area">{{market.oddsData.runners[1].price.back[0].price}}</button>
          <button class="red-area">{{market.oddsData.runners[1].price.lay[0].price}}</button>
        </div>
      </div>
    </a>
  </div>
</div>
