.myexch-header-promotion-row {
  display: flex;
  width: -webkit-fill-available;
  color: #000;
  background: var(--theme-color);
  padding: 0 2%;
}
.marquee-text1 {
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 0;
  height: 19px;
  width: -webkit-fill-available;
}
.bhopu {
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 767px){
  .img-fluid-poster {
    height: 180px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 15px;
  }
}
