<div class="wrapper">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/banners/B04.jpg" class="img-fluid-poster d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banners/B05.jpg" class="img-fluid-poster d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banners/B06.jpg" class="img-fluid-poster d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/banners/B07.jpg" class="img-fluid-poster d-block " alt="...">
      </div>
    </div>
  </div>
<!--  carosuel end -->

<!--Sports Category markets SECTION-->
<app-markets></app-markets>

</div>

