<div class="container-fluid ">
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="account-ui">
                <span class="account-pro"> Game Report
                </span>
            </div>
        </div>
    </div>

    <div id="filter">
        <div class="row justify-content-between option-row p-4">
            <div class="col-md-12">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-12 mb-sm-1 my-md-0 my-1">
                        <input type="date" placeholder="From" class="form-control ng-valid ng-dirty ng-touched">
                    </div>
                    <div class="col-md-2 col-12 mb-sm-1">
                        <input type="date" placeholder="To" class="form-control ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="col-md-2 col-12 mb-sm-1">
                        <button class="btn-get waves-effect waves-light">Submit</button>
                    </div><!----><!---->
                    <div class="col-md-2 col-9 mb-sm-1">
                        <div class="input-group">
                            <select class="form-control">
                                <option value="" disabled="" selected="" hidden=""> Select</option>
                                <option value="today">today</option>
                                <option value="yesterday">yesterday</option>
                                <option value="7_day">last 7 days</option>
                                <option value="30_day">last 30 days</option>
                            </select>
                            <div class="input-group-append p-0"><button class="btn-download"><i
                                        class="fa fa-cloud-download" style="font-size: 35px;"></i></button></div><!---->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-dark table-striped table-bordered tableData">
            <thead>
                <tr style="background-color: #424e5a !important;">
                    <th class="text-center">Sport Name</th>
                    <th class="text-center">Profit / Loss</th>

                    <th class="text-center">Commission</th>
                    <th class="text-center">Total P&L</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">Casino</td>
                    <td class="text-center">-1245.89999999</td>
                    <td class="text-center">0</td>
                    <td class="text-center">-1245.9</td>
                </tr>
            </tbody>
            <!-- <tbody>
                        <tr>
                            <td colspan="8">Data not available</td>
                        </tr>
                    </tbody> -->
        </table>
    </div>
</div>