<div class="container-fluid ">
    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="account-ui">
                <span class="account-pro"> My BETS
                </span>
            </div>
        </div>
    </div>

    <div class="d-flex tabs">
        <div class="active">BETS HISTORY</div>
        <div> Teenapatti Bets History</div>
        <div> Casino Bets Histo</div>
    </div>


    <div id="filter">
        <div class="row justify-content-between option-row p-4">
            <div class="col-md-12">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-2 col-12 mb-sm-1">
                        <input type="date" placeholder="From" class="form-control ng-valid ng-dirty ng-touched">
                    </div>
                    <div class="col-md-2 col-12 mb-sm-1">
                        <input type="date" placeholder="To" class="form-control ng-untouched ng-pristine ng-valid">
                    </div>
                    <div class="col-md-2 col-12 mb-sm-1">
                        <button class="btn-get waves-effect waves-light">SUBMIT</button>
                    </div>

                    <div class="col-md-2 col-12 mb-sm-1">
                        <button class="btn-get waves-effect waves-light">CANCEL BET</button>
                    </div>
<!--                    <div class="col-md-2 col-9 mb-sm-1">-->
<!--                        <div class="input-group">-->
<!--                            <select class="form-control">-->
<!--                                <option value="" disabled="" selected="" hidden=""> Select</option>-->
<!--                                <option value="today">today</option>-->
<!--                                <option value="yesterday">yesterday</option>-->
<!--                                <option value="7_day">last 7 days</option>-->
<!--                                <option value="30_day">last 30 days</option>-->
<!--                            </select>-->
<!--                            <div class="input-group-append p-0"><button class="btn-download"><i-->
<!--                                        class="fa fa-cloud-download" style="font-size: 35px;"></i></button></div>&lt;!&ndash;&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table datatable class="table table-dark table-striped table-bordered tableData">
            <thead>
                <tr style="background-color: #424e5a !important;">
                    <th class="text-center">Id</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Side</th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Stake</th>
                    <th class="text-center">Date</th>
                    <th class="text-center">P/L</th>
                    <th class="text-center">Status</th>
                </tr>

            </thead>
            <tbody>
                <tr class="back">
                    <td class="text-center">0ffb62</td>
                    <td class="text-center liner">Cricket -&gt; Dambulla Aura v Kandy Falcons
                        -&gt; Match Odds -&gt; Kandy Falcons</td>
                    <td class="text-center">back</td><!---->
                    <td class="text-center">1.46</td><!----><!---->
                    <td class="text-center">500</td>
                    <td class="text-centervliner">2022-12-13 15:55:13</td>
                    <td class="text-center">230</td>
                    <td class="text-center" >WIN </td>
                </tr>
            </tbody>
            <!-- <tbody>
                        <tr>
                            <td colspan="8">Data not available</td>
                        </tr>
                    </tbody> -->
        </table>
    </div>
</div>
