<div class="market-details">


<div class="event-title d-flex justify-content-between">
  <div class="p-0 ps-1">
    <p class="m-0">india vs pakistan <br>
      <span class="m-event-timer"> 14-12-2022, 2:15:00 AM</span>
    </p>
  </div>
  <div class="tv-icon-div d-flex align-items-center">
    <i class="fa-solid fa-tv"></i>
  </div>

</div>
<!-- Market or mybets Tabs-->
  <div  class="d-flex marktet-tabs">
    <div  class="align-self-center">
      <button  class="btn-match-unmatch mymarket"> market</button>
    </div>
    <div  class="align-self-center">
      <button  class="btn-match-unmatch mybet">my bet </button>
    </div>
  </div>

<!--  Market Scroller start -->
  <div class="category-navigation">
    <div class="full-color">
      <ul class="category-navigation-container" >
        <li class="category-navigation-item" *ngFor="let cat of catTabs">
          <a class="category-navigation-item-link" [ngClass]="cat.id==2?'active':''" >
        <span class="category-navigation-item-icon">

          {{cat.cat_name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  Market Scroller end -->

  <!--  Marketdetails portion -->
  <div class="market-section">
    <div class="d-flex align-items-center justify-content-between text-uppercase text-dark market-title-row">
      <div class="clip1 col-md-5 col-7">
        <p class="market-title">
          <i class="fa-solid fa-chart-column me-2"></i>Match odds
        </p>
      </div>
      <div class="col-md-7 col-5 px-lg-0 text-end pe-3 px-lg-0">
        <i class="fa-solid fa-circle-info float-right rules12 me-3" data-bs-toggle="modal" data-bs-target="#infoModal"></i>
      </div>
    </div>
    <div class="market-rates">
      <div class="row mt-1">
        <div class="col-md-5 col-7">
          <p class="min-max mb-0"><span>min: <b>100</b></span>  <span class="max-value">max:  <b>10000</b> </span></p>
        </div>
        <div class="col-md-7 col-5 px-lg-0 text-center px-lg-0">
          <p class="market-back mb-0"><span class="back2">back</span> <span class="lay2">lay</span></p>
        </div>

      </div>
      <div class="row align-items-center text-capitalize text-dark bg-theme market-data-row">
        <div class="col-md-5 col-7">
          <p class="market-name">
            <i class="fa-solid fa-chart-column me-2"></i>india <span>
        <b class="' + bcolor + '">0</b>
        <i class="fa-solid fa-arrow-right ms-2 me-2 text-dark"></i>
        <b class="' + color + '">0</b>
      </span>
          </p>
        </div>
        <div class="col-md-7 col-5 px-lg-0 change d-flex justify-content-center">
<!--          for mobilr -->
          <div  class="bl-buttons desktop-hide">
            <button  type="button" class="bl-btn back waves-effect waves-light bet-sec'">1.53 <span >200</span>
            </button>
            <button  type="button" class="bl-btn lay waves-effect waves-light bet-sec'">1.53 <span >200</span>
            </button>
          </div>
<!--          for desktop -->
          <div class="bl-buttons mobile-hide">
            <button class="bl-btn eon1 bet-sec ">1.53 <span>200</span>
            </button>
            <button class="bl-btn eon2 bet-sec ">1.53 <span>200</span>
            </button>
            <button type="button" data-toggle="collapse" data-target="#myTabContent1" aria-expanded="false" aria-controls="collapseExample" class="bl-btn back waves-effect waves-light bet-sec ">
              <span class=" size1">1.53</span>
              <span class=" size2">200</span>
            </button>
            <button type="button" data-toggle="collapse" data-target="#myTabContent1" aria-expanded="false" aria-controls="collapseExample" class="bl-btn lay waves-effect waves-light bet-sec ">
              <span class=" size1">1.53</span>
              <span class=" size2">200</span>
            </button>
            <button class="bl-btn eon3 bet-sec ">1.53 <span>200</span>
            </button>
            <button class="bl-btn eon4 bet-sec ">1.53 <span>200</span>
            </button>
          </div>
        </div>
      </div>
    </div>



</div>
  <!--  Market Scroller start -->
  <div class="category-navigation">
    <div class="full-color">
      <ul class="category-navigation-container" >
        <li class="category-navigation-item" *ngFor="let cat of catTabs">
          <a class="category-navigation-item-link" [ngClass]="cat.id==2?'active':''" >
        <span class="category-navigation-item-icon">

          {{cat.cat_name}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!--  Market Scroller end -->

  <!--  Marketdetails portion -->
  <div class="market-section">
    <div class="d-flex align-items-center justify-content-between text-uppercase text-dark market-title-row">
      <div class="clip1 col-md-5 col-7">
        <p class="market-title">
          <i class="fa-solid fa-chart-column me-2"></i>Bookmakers
        </p>
      </div>
      <div class="col-md-7 col-5 px-lg-0 text-end pe-3 px-lg-0">
        <i class="fa-solid fa-circle-info float-right rules12 me-3" data-bs-toggle="modal" data-bs-target="#infoModal"></i>
      </div>
    </div>
    <div class="market-rates">
      <div class="row mt-1">
        <div class="col-md-5 col-7">
          <p class="min-max mb-0"><span>min: <b>100</b></span>  <span class="max-value">max:  <b>10000</b> </span></p>
        </div>
        <div class="col-md-7 col-5 px-lg-0 text-center px-lg-0">
          <p class="market-back mb-0"><span class="back2">YES</span> <span class="lay2">No</span></p>
        </div>

      </div>
      <div class="row align-items-center text-capitalize text-dark bg-theme market-data-row">
        <div class="col-md-5 col-7">
          <p class="market-name">
            <i class="fa-solid fa-chart-column me-2"></i>india <span>
        <b class="' + bcolor + '">0</b>
        <i class="fa-solid fa-arrow-right ms-2 me-2 text-dark"></i>
        <b class="' + color + '">0</b>
      </span>
          </p>
        </div>
        <div class="col-md-7 col-5 px-lg-0 change d-flex justify-content-center">
          <!--          for mobilr -->
          <div  class="bl-buttons desktop-hide">
            <button  type="button" class="bl-btn back waves-effect waves-light bet-sec'">1.53 <span >200</span>
            </button>
            <button  type="button" class="bl-btn lay waves-effect waves-light bet-sec'">1.53 <span >200</span>
            </button>
          </div>
          <!--          for desktop -->
          <div class="bl-buttons mobile-hide">
            <button class="bl-btn eon1 bet-sec ">1.53 <span>200</span>
            </button>
            <button class="bl-btn eon2 bet-sec ">1.53 <span>200</span>
            </button>
            <button type="button" data-toggle="collapse" data-target="#myTabContent1" aria-expanded="false" aria-controls="collapseExample" class="bl-btn back waves-effect waves-light bet-sec ">
              <span class=" size1">1.53</span>
              <span class=" size2">200</span>
            </button>
            <button type="button" data-toggle="collapse" data-target="#myTabContent1" aria-expanded="false" aria-controls="collapseExample" class="bl-btn lay waves-effect waves-light bet-sec ">
              <span class=" size1">1.53</span>
              <span class=" size2">200</span>
            </button>
            <button class="bl-btn eon3 bet-sec ">1.53 <span>200</span>
            </button>
            <button class="bl-btn eon4 bet-sec ">1.53 <span>200</span>
            </button>
          </div>
        </div>
      </div>
    </div>



  </div>


<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#infoModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Info Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Info</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i class="fa-solid fa-xmark"></i> </button>
      </div>
      <div class="modal-body ">
        <div class="info-modal-body">
          <p>1.Cricket General :- ➢ If a ball is not bowled during a competition, series or match then all bets will be void except for those on any market that has been unconditionally determined (e.g. in the 'Completed Match' market).</p>
          <p>2.Cricket General :- If a match is shortened by weather, all bets will be settled according to the official result (including for limited overs matches, the result determined by the Duckworth Lewis method).</p>
          <p>3.Cricket General :- In the event of a match being decided by a bowl-off or toss of the coin, all bets will be void except for those on markets that have been unconditionally determined.</p>
          <p>1.Cricket General :- ➢ If a ball is not bowled during a competition, series or match then all bets will be void except for those on any market that has been unconditionally determined (e.g. in the 'Completed Match' market).</p>
          <p>2.Cricket General :- If a match is shortened by weather, all bets will be settled according to the official result (including for limited overs matches, the result determined by the Duckworth Lewis method).</p>
          <p>3.Cricket General :- In the event of a match being decided by a bowl-off or toss of the coin, all bets will be void except for those on markets that have been unconditionally determined.</p>
          <p>1.Cricket General :- ➢ If a ball is not bowled during a competition, series or match then all bets will be void except for those on any market that has been unconditionally determined (e.g. in the 'Completed Match' market).</p>
          <p>2.Cricket General :- If a match is shortened by weather, all bets will be settled according to the official result (including for limited overs matches, the result determined by the Duckworth Lewis method).</p>
          <p>3.Cricket General :- In the event of a match being decided by a bowl-off or toss of the coin, all bets will be void except for those on markets that have been unconditionally determined.</p>
          <p>1.Cricket General :- ➢ If a ball is not bowled during a competition, series or match then all bets will be void except for those on any market that has been unconditionally determined (e.g. in the 'Completed Match' market).</p>
          <p>2.Cricket General :- If a match is shortened by weather, all bets will be settled according to the official result (including for limited overs matches, the result determined by the Duckworth Lewis method).</p>
          <p>3.Cricket General :- In the event of a match being decided by a bowl-off or toss of the coin, all bets will be void except for those on markets that have been unconditionally determined.</p>
        </div>
      </div>
    </div>
  </div>
</div>
