.market-details{
  margin: 0px 2px;
  overflow-x: hidden;
}
.event-title {
  text-transform: capitalize;
  font-size: 20px;
  padding: 8px 0 2px;
  border-radius: 3px;
  margin-bottom: 0;
  font-weight: 600;
  text-align: left;
  background: var(--event-title-bg);
}
.fa-tv{
  font-size: 24px;
}
.tv-icon-div{
  width: 20%;
}
.btn-match-unmatch{
  text-transform: uppercase;
  font-size: 15px;
  width: 100%;
  border: 1px solid #000;
}
.mymarket{
  background: var(--header-color);
  color: var(--text-color-white);
}
.mybet{
  background: var(--theme-color);
  color: var(--event-title-bg);
}
.marktet-tabs{
  margin-bottom: 24px;
}
.marktet-tabs div{
  width: 50%;
}
.modal-header{
  background: var(--header-color);
  padding: .25rem .4rem;
}
.close-btn{
  background: transparent;
  border: 0px;
  color: white;
}
.modal-body{
  background: var(--header-color);
  padding: .6rem;
}
.info-modal-body p{
  font-size: 12px;
  margin-bottom: .7rem;
}
.market-section {
  margin-top: 15px;
  background: var(--theme-color);
}
.market-title-row .clip1{
  background: var(--header-color);
  /*width: 58%;*/
}
.market-title{
  padding: 0;
  font-size: 15px;
  line-height: 2;
  font-weight: 900;
  display: inline;
  color: var(--text-color-white);
  margin-bottom: 0px;
}
.clip1 {
  -webkit-clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
  clip-path: polygon(0 0,80% 0,100% 100%,0 100%);
}
.market-rates{
  background: var(--header-color);
}
.min-max {
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  display: block;
}
.max-value {
  margin-left: 13px;
}
.market-back span {
  width: 68px;
  display: inline-block;
  margin: 0 -1px;
  font-weight: 800;
  color: var(--text-color-white);
  border-style: none;
  outline: none;
}
p.market-back {
  font-size: 13px;
}
.market-back .back2 {
  background: var(--back-color);
}
.market-back .lay2 {
  background: var(--lay-color);
}
.bg-theme {
  background: var(--market-bg);
}
.market-data-row .market-name {
  white-space: nowrap;
  overflow: hidden!important;
  text-overflow: ellipsis;
}
p{
  margin-bottom: 0px;
}

.market-data-row .market-name, .market-data-row .market-name1 {
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 900;
  color: #fff!important;
  margin-left: 7px;
}
.market-data-row .market-name1 span, .market-data-row .market-name span {
  display: block;
  font-size: 12px;
  font-weight: 900;
}
.market-data-row .market-name span {
  color: #686161;
}
.bl-buttons {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
}
.bl-buttons .bl-btn {
  font-size: 15px;
  border-radius: 0;
  border: none;
  width: 55px;
  height: 40px;
  line-height: 1;
  padding: 0;
  font-weight: 700;
  margin: 0 1px;
  color: #000;
}
.bl-buttons .bl-btn span {
  display: block;
  font-size: 9px;
  font-weight: 400;
}
.lay {
  pointer-events: auto;
  background: var(--lay-color);
}
.back{
  background: var(--back-color);
}
.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media only screen and (max-width: 767px){
  .event-title {
    text-align: left;
    font-size: 12px;
  }
  .m-event-timer{
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 5px;
    font-size: 9px;
    padding: 0;
  }
  .fa-tv{
    font-size: 20px;
  }
  .btn-match-unmatch {
    font-size: 13px!important;
    font-weight: 900;
    padding: 2px 0;
  }
  .market-section {
    margin-bottom: .5em;
    margin-top: 0;
    /*box-shadow: 0 0 0 1px #e1e1e1;*/
  }
  .market-section div{
    padding: 1px 0 0;
    margin: 0;
  }
  .market-title {
    font-size: 3vw;
    line-height: 1;
    width: 126px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .minWidth{min-width: 220px;}
  .market-name{
    width: 165px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    display: inline-block;
  }
  .min-max {
    padding: 0;
    font-size: 10px;
  }
  .market-back .back2, .market-back .lay2 {
    margin: 0 1px;
    text-transform: uppercase;
    color: #000;
    line-height: 1.5;
  }
  .bl-buttons .bl-btn {
    width: 68px;
    height: 40px;
    font-size: 15px;
    font-weight: 900;
  }
  .mobile-hide{
    display: none;
  }
}
.min-max-drop {
  position: absolute;
  right: 3px;
  top: 0px;
  font-size: 17px;
}
.rules13 {
  margin: 8px;
  color: #ff0;
}
.dropdown-menu {
  min-width: 6rem;
  padding:  0rem 0;
}
.dropdown-menu .dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem .75rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font-size: 12px;
}
.cashout {
  border-radius: 3px;
  background: var(--event-title-bg);
  color: var(--theme-color);
  padding: 2px 5px;
}
.cashout1 {
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0 5px;
  color: var(--event-title-bg);
  background: var(--theme-color);
}
@media screen and (max-width: 767px) {
  .cashout1 {
    font-size: 9px;
    color: var(--event-title-bg);
    font-weight: 600;
    margin: 0 0 0 1vw;
  }
}
@media only screen and (max-width: 320px){
  .bl-buttons .bl-btn {
    width: 60px !important;
  }
  .market-back   span{
    width: 55px;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  .market-back   span{
    width: 63px;
  }
}
@media screen and (min-width: 768px) {
  .desktop-hide{
    display: none;
  }

}


/*Tab slider css starts*/


.category-navigation {
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
  background: var(--sport-section-bg);
  background-image: none;
  height: 50px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.category-navigation ::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
/*.full-color{*/
/*  background: var(--sport-section-bg) !important;*/
/*}*/
.category-navigation-container {
  display: flex;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  background: transparent;
  height: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  overflow-x: scroll;
}

.category-navigation .category-navigation-item {
  font-size: 12px;
  line-height: 1;
  font-weight: 700;
  background: var(--unselected-tabbg);
  color: var(--text-color-white);
  text-transform: uppercase;
  text-align: center;
  padding: 11px 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  transition: color .25s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #9d0af1;
}

a {
  text-decoration: none;
}

.category-navigation .category-navigation-item.active{
  color: #000 !important;
  background: var(--theme-color) !important;
  border: 1px solid var(--theme-color) !important;
}

.category-navigation .category-navigation-item-icon {
  margin: 0 auto;
  min-height: 20px;
  min-width: 20px;
  color: var(--sport-section-bg);
}

.category-navigation .category-navigation-item-label {
  color: var(--white);
  text-align: center;
  font-size: 12px;
  line-height: 2;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  margin: 0 10px;
}
/*tab slides css end */




.red-section {
  background: var(--lay-color);
  padding: 10px 0;
}
.blue-section {
  background: var(--back-color);
  padding: 10px 0;
}
.blue-section   .minus, .blue-section   .plus {
  background: #35739c;
  border: none;
  padding: 0 2.5vw;
  color: var(--text-color-white);
}
.input-group{
  flex-wrap: nowrap;
}
.red-section   .minus, .red-section   .plus {
  background: #9b4554;
  border: none;
  padding: 0 2.5vw;
  color: var(--text-color-white);
}
.bet-table   .btn-group   button {
  font-size: 13px;
  padding: 0.4em;
  text-align: center;
  background-color: transparent;
  border-radius: 0;
  width: 9vw;
  color: var(--text-color-white);
  cursor: pointer;
  margin: 1.5vw;
  border: 0;
  background: var(--theme-color1);
  border-style: 1px solid;
  theme-color: transparent;
  border-radius: 2px;
  outline: none;
  font-weight: 700;
}
.input-group   input {
  border: none;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bet-table   .pb-co   button {
  box-shadow: none;
  text-transform: uppercase;
  width: 90%;
  font-size: 12px;
  height: 39px;
  padding: 5px;
  font-weight: 700;
  border-radius: 3px;
}
.bet-table   .btn-co {
  color: #000;
  outline: none;
  background: var(--theme-color);
  border: none;
}

.pb-co div{
  width: 50%;
}
@media screen and (max-width: 767px) {
  .bet-table   .btn-group   button {
    width: 21vw;
  }
  .form-control {
    height: 24px;
    border-radius: 5px;
    text-align: center;
    color: #000;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
  margin-right: 2px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--theme-color1);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--theme-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.fancy-quick-tr {display: none;}
.market-section .placeSec{padding: 8px 0;}
.bet-table .btn-po1 {
  background: var(--theme-color1);
  color: var(--text-color-white);
}
.bet-table   .btn-po {
  color: var(--text-color-white);
  outline: none;
  border: none;
  background: #644c73;
}
.extra-pf {
  display: inline-block;
  margin-left: 5px!important;
}
.minus-book {
  color: #d0021b!important;
  font-weight: 700!important;
}
.plus-book {
  color: #228b22!important;
  font-weight: 700!important;
}

.slip-list {
  font-size: 11px;
  zoom: 1;
  color: #2f353a;
}
.matched-head {
  padding: 0 10px;
  zoom: 1;
  display: block;
  margin: 0;
  height: 25px;
  background-color: #fff;
  zoom: 1;
}
.matched-head  .col-bet, .slip-head  .col-bet{
  width: 42%;
  text-align: left;
}
.matched-head li, .slip-head li {
  padding: 5px 0;
  display: block;
  float: left;
}
.matched-head  .col-odd, .slip-head  .col-odd{
  width: 16%;
}
.matched-head  .col-stake, .slip-head  .col-stake{
  width: 16%;
  padding-left: 5px;
}
.matched-head   .col-profit, .slip-head  .col-profit {
  width: 25%;
}
.matched-head   .col-profit {
  text-align: right;
}
.slip-back  .keep-option, .slip-back  .refer {
  background-color: #d4e8f8;
  text-align: left;
  margin: 0;
}
.slip-back {
  background-color: #beddf4;
  border-bottom: 1px solid #67afe5;
  margin: 0;
  zoom: 1;
  height: 37px;
}
.slip-back .refer, .slip-lay .refer {
  float: none;
  line-height: 16px;
  font-size: 10px;
  display: none;
  color: #3b5160;
  padding: 0 5px;
}
.slip-back   .slip-type {
  background-color: #7dbbe9;
}
.slip-back  dt, .slip-book  dt, .slip-lay   dt {
  position: relative;
  width: 42%;
  font-weight: 700;
  float: left;
  padding-left: 5px;
}
.slip-back  dt  span, .slip-book  dt  span, .slip-lay   dt   span{
  color: #222;
  opacity: .5;
  font-weight: 400;
}
.slip-back  dt  .slip-type, .slip-book  dt  .slip-type, .slip-lay  dt  .slip-type{
  line-height: 22px;
  border-radius: 3px;
  color: #1e1e1e;
  padding: 0 5px;
  margin: 5px 5px 0 0;
  opacity: 1;
  float: left;
}
.slip-back  dt  span, .slip-book  dt  span, .slip-lay  dt  span{
  color: #222;
  opacity: .5;
  font-weight: 400;
}
.slip-back  dt  .full-amount, .slip-back   dt  .short-amount, .slip-book  dt   .full-amount, .slip-book   dt   .short-amount, .slip-lay  dt  .full-amount, .slip-lay  dt  .short-amount {
  opacity: 1;
  font-weight: 700;
}
.slip-back   dt   span, .slip-book   dt   span, .slip-lay   dt   span {
  color: #222;
  opacity: .5;
  font-weight: 400;
}
.slip-back   .col-odd, .slip-book   .col-odd, .slip-lay   .col-odd {
  width: 16.12429%;
}
.slip-back   dd {
  text-align: center;
  float: left;
}
.slip-back   dd, .slip-book   dd, .slip-lay   dd {
  position: relative;
  color: #243a48;
  padding: 5px 0;
  /* line-height: 22px; */
}
.slip-back   .col-stake, .slip-book   .col-stake, .slip-lay   .col-stake {
  width: 15.53672%;
  padding-left: 5px;
}
.slip-back   dd {
  text-align: start;
  float: left;
}
.slip-back   .col-profit {
  text-align: right;
}
.slip-back   .col-profit, .slip-book   .col-profit, .slip-lay   .col-profit {
  width: 21.75141%;
  padding: 5px;
}
.short-amount {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
.slipLayImp {
  background-color: #f3dce2 !important;
  border-bottom: 1px solid #dfa3b3 !important;
  zoom: 1;
  margin: 0;
  height: 37px;
}
.slipLayImp .slip-type {
  background-color: #dfa3b3  !important;
}
