.tabs{
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  background: var(--theme-color);
  margin-top: 15px
}
.tabs div{
  width: 33%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  text-transform: uppercase;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #000!important;
  border-radius: 0!important;
  font-weight: 600;
}
.tabs div.active{
  color: var(--text-color-white) !important;
  background: var(--header-color) !important;
}
.marketName{
  background: var(--header-color);
}
.clip {
  background: var(--theme-color);
  color: var(--event-title-bg);
  -webkit-clip-path: polygon(0 0,67% 0,100% 100%,0 100%);
  clip-path: polygon(0 0,67% 0,100% 100%,0 100%);
}
.bg-theme {
  background-color: var(--market-bg);
}
aside {
  margin: auto;
  width: 50px;
}
@hueRotate: 10deg;

.play1{
  padding: 0px ;
}
.loading {
  background:  linear-gradient(90deg,#18da22,#037903);

  font-size: 10px;
  padding: 3px;
  background-size: 130%;
  -webkit-filter: hue-rotate("@hueRotate");
  height: 30px;
  line-height: 26px;
  color: white;
  font-weight: 800;
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4) inset;
  position: relative;
  text-shadow: 0 2px 2px rgba(0,0,0,0.5);



}

.text,
.border  {
  z-index: 0; border-radius: 5px;
  display: block; position: absolute;
  left: 4px; top: 4px; bottom: 4px; right: 4px; display: block; }

.text { top: 2px;
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
.border {

  border: 2px solid rgba(255,255,255,1);


  animation: maskBorder 1s infinite;

}

@keyframes maskBorder {

  0% { clip: rect(0,50px,10px,0); }
  20% { clip: rect(0,200px,10px,0); }
  35% { clip: rect(0,200px,10px,190px); }
  50% { clip: rect(10px,200px, 50px, 190px); }
  60% { clip: rect(40px,200px, 50px, 190px); }
  70% { clip: rect(40px,200px, 50px, 0px); }
  85% { clip: rect(40px,10px, 50px, 0px); }
  90% { clip: rect(0,10px, 50px, 0px); }
  100% { clip: rect(0,10px, 10px, 0px); }
}
.fancy, .name {
  font-weight: 700;
  color: var(--text-color-white);
}
p{
  margin-bottom: 0px;
}
.blue-area1, .red-area1 , red-area {
  border: none;
  font-size: 16px;
  color: #000;
  padding: 6px 1px;
  width: 18%;
  font-weight: 700;

  border-radius: 4px;
}
.red-area{
  background: var(--lay-color);
  border: none;
  color: #000;
  width: 15%;
  padding: 6px 1px;
  font-weight: 700;
  border-radius: 0;
}
.blue-area {
  background: var(--back-color);
  border: none;
  color: #000;
  padding: 6px 1px;
  width: 15%;
  font-weight: 700;
  border-radius: 0;
}
.blue-area1 {
  background: var(--back-color);
}
.red-area, .red-area1 {
  background: var(--lay-color);
}
@media only screen and (max-width: 767px){
  .clip{
    font-size: 14px;
    font-weight: 600;
    line-height: 2;
  }
  .team-name p {
    font-size: 13px;
  }
  .blue-area, .red-area {
    width: 16%;
    height: 36px;
  }
  .tabs div{
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px){
  .tabs div{
    font-size: 13px;
  }
}

.play2{
  background: #9c8fac;
  font-size: 8px;
  color: #000;
  width: 50px;
  height: 35px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #584170;
}
.textPlay2{
  color: var(--white);
  font-size: 8px;
  font-family: Gotham, sans-serif;
}