
<div class="d-flex ">
  <ul class="nav  nav-justified mb-2 tabs2">
      <li class="nav-item" >
        <a class="nav-link active" [ngClass]="{'active' : step === 'inplay'}" (click) = "cliclTab('inplay')">
          In-Play
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active' : step === 'today'}" (click) = "cliclTab('today')">
          TODAY
        </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [ngClass]="{'active' : step === 'tomorrow'}" (click) = "cliclTab('tomorrow')">
        TOMORROW
      </a>
  </li>
  </ul>
</div>



<!--Inplay Markets Starts -->
<div *ngFor="let market of Records">


  <div class="text-uppercase marketName mt-3">
    <div class="col-md-8 clip col-8 text-start ps-2"> {{market.sportName}}</div>
    <div class="col-4 col-xs-none"></div>
  </div>

  <div class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1" *ngFor="let odds of market.oddsData">
    <div class="col-md-1 col-3 px-0 align-self-center text-center">
      <button type="button" class="btn update play1" *ngIf="step=='inplay'">
        <span>
          <aside class="loading">
            <span class="text">Inplay</span>
            <span class="border"></span>
          </aside>
        </span>
      </button>
      <button type="button" class="btn update play2" *ngIf="!(step=='inplay')">
        <span>
          
            <span class="textPlay2" *ngIf="step=='today'">Today

              <br />

          {{odds.eventTime | date :'shortTime'}}
            </span>
            <span class="textPlay2" *ngIf="!(step=='today')">{{odds.eventTime | date :'MMM d'}}

              <br />

              {{odds.eventTime | date :'shortTime'}}
            </span>
        </span>
      </button>
    </div>
    <div class="col-md-5 col-9 px-0 align-self-center">
      <div class="team-name">
        <p>
          <span class="name"> {{odds.eventName}} </span>
          <span style="float:right;margin-right: 10px;">
            <img *ngIf="odds.isStreaming==true" src="assets/icons/TV%20(1).png" style="width: 17px; height: 15px; margin: 0px 5px;">
            <img *ngIf="odds.isFancy == true" src="assets/icons/ficon.webp"
            style="width: 17px; height: 15px; margin:0px 5px;">
            <img *ngIf="odds.isBookmakers == true" src="assets/icons/B.webp"
            style="width: 17px; height: 15px; margin:0px 5px;">
          </span>
        </p>
      </div>
    </div>
    <div class="col-md-6 col-12 text-center align-self-center mx-0 px-lg-0 mt-2" routerLink="/client/market-details/{{odds.exEventId}}/{{odds.sportId}}">
      <!-- runner A -->
      <button class="blue-area1">
        {{(odds?.oddsData?.runners[0]?.price?.back[0]?.price)?(odds?.oddsData?.runners[0]?.price?.back[0]?.price):'-'}}
      </button>
      <button class="red-area">
        {{(odds?.oddsData?.runners[0]?.price?.lay[0]?.price)?(odds?.oddsData?.runners[0]?.price?.lay[0]?.price):'-'}}
      </button>
      <!-- draw -->
      <button class="blue-area">
        {{(odds?.oddsData?.runners[2]?.price?.back[0]?.price)?(odds?.oddsData?.runners[2]?.price?.back[0]?.price):'-'}}
      </button>
      <button class="red-area">
        {{(odds?.oddsData?.runners[2]?.price?.lay[0]?.price)?(odds?.oddsData?.runners[2]?.price?.lay[0]?.price):'-'}}
      </button>
      <!-- runner B -->
      <button class="blue-area">
        {{(odds?.oddsData?.runners[1]?.price?.back[0]?.price)?(odds?.oddsData?.runners[1]?.price?.back[0]?.price):'-'}}
      </button>
      <button class="red-area1">
        {{(odds?.oddsData?.runners[1]?.price?.lay[0]?.price)?(odds?.oddsData?.runners[1]?.price?.lay[0]?.price):'-'}}
      </button>
    </div>
  </div>


</div>

<!--Inplay Markets end-->

<!--Today Markets end-->

<!--Today Markets Starts -->