<div class="d-flex tabs">
  <div class="active">In-Play</div>
  <div>TODAY</div>
  <div>TOMORROW</div>
</div>

<!--Inplay Markets Starts -->
<div >


<div  class="text-uppercase marketName mt-3">
  <div  class="col-md-8 clip col-8 text-start ps-2"> Cricket </div>
  <div  class="col-4 col-xs-none"></div>
</div>

<div  class="row bg-theme mx-0 text-capitalize py-1 sport-list bm1">
  <div  class="col-md-1 col-3 px-0 align-self-center text-center">
    <button  type="button" class="btn update play1">
      <span >
        <aside  class="loading">
          <span  class="text">Inplay</span>
          <span  class="border"></span>
        </aside>
      </span>
    </button>
  </div>
  <div  class="col-md-5 col-9 px-0 align-self-center">
    <div  class="team-name">
      <p >
        <span  class="name"> Twenty20 Big Bash </span>
        <span >
          <img  src="assets/icons/TV%20(1).png" style="width: 17px; height: 15px; margin: 0px 5px;">
        </span>
      </p>
    </div>
  </div>
  <div  class="col-md-6 col-12 text-center align-self-center mx-0 px-lg-0 mt-2">
    <button  class="blue-area1">-</button>
    <button  class="red-area">-</button>
    <button  class="blue-area">-</button>
    <button  class="red-area">-</button>
    <button  class="blue-area">-</button>
    <button  class="red-area1">-</button>
  </div>
</div>
<!--Inplay Markets end-->
</div>
