<div class="right-bar">
  <div data-simplebar class="h-100">

    <div class="right-side-menu__username">
      {{userbalance?.userName?userbalance?.userName:'KHILADI'}}
    </div>
    <div class="right-side-menu__account mt-2">

      <i class="mdi mdi-bank right-side-menu__item__icon"></i>
      <span class="right-side-menu__item__label sc-ion-label-md-h sc-ion-label-md-s md hydrated">
        <img src="assets/rightnav/Balance.png" alt="img">
                  Balance Information
                </span>
      <div class="right-side-menu__account__info">
        <div class="right-side-menu__account__info__item">
          <span class="right-side-menu__account__info__item__label">Available Credit:</span>
          <span class="right-side-menu__account__info__item__value  bold">{{userbalance?.bankBalance?userbalance?.bankBalance:'0'}}</span>
        </div>

      </div>
      <div class="right-side-menu__account__info">
        <div class="right-side-menu__account__info__item">
          <span class="right-side-menu__account__info__item__label">Net Exposure:</span>
          <span class="right-side-menu__account__info__item__value  bold">{{userbalance?.exposure?userbalance?.exposure:'0'}}</span>
        </div>

      </div>

    </div>
    <div class="right-side-menu__depositButtons">
      <button routerLink="/client/deposit" class="right-side-menu__depositButtons-dep">
        Deposit
      </button>
      <button routerLink="/client/withdraw" class="right-side-menu__depositButtons-with">
        Withdrawal
      </button>
    </div>


    <div class="tab-content pt-0">
      <div class="tab-pane active" id="up-tab" role="tabpanel">

        <div class="user-menus">
          <ul>
            <li class="liShadow"><a routerLink="/client/profile" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/Profile.png" alt="img">
              My profile</a></li>
            <li  class="liShadow"><a routerLink="/client/edit-password" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/EditPassword.png" alt="img">
              Edit password</a></li>
            <li class="liShadow"><a routerLink="/client/statement" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/account.png" alt="img">
              account statement</a></li>
            <li  class="liShadow"><a routerLink="/client/profitloss" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/Profit.png" alt="img">
              Profit/Loss</a></li>
              <li  class="liShadow"><a routerLink="/client/bet-history" class="waves-effect waves-light sideNavCheck">
                <img src="assets/rightnav/betHistory.png" alt="img">
                Bets History</a></li>
                
            <li  class="liShadow"><a routerLink="/rightnav/passwordHistory" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/passwordHistory.png" alt="img">Password History</a></li>
          

            <li class="liShadow"><a routerLink="/client/settings" class="waves-effect waves-light sideNavCheck">
              <img src="assets/rightnav/Setting.png" alt="img">
              setting</a></li>
<!--            <li><a routerLink="/client/result" class="waves-effect waves-light sideNavCheck">-->
<!--              <img src="assets/social/Result.webp" alt="img">-->
<!--              Result</a></li>-->

            <!-- <li><a routerLink="/withdraw" class="waves-effect waves-light"><i class="mdi mdi-bank"></i> withdraw</a></li>
            <li><a routerLink="/Deposit" class="waves-effect waves-light"><i class="mdi mdi-currency-usd"></i> deposit</a></li> -->
<!--            <li><a routerLink="/client/RequestStatus" class="waves-effect waves-light sideNavCheck">-->
<!--              <img src="assets/social/request.webp" alt="img">-->
<!--              Request</a></li>-->


          </ul>
          <button class="logout" (click)="logout()"><i class="fa fa-power-off power-off"></i> logout</button>
        </div>

      </div>

      <div class="tab-pane" id="settings-tab" role="tabpanel">

        <div class="user-menus right-custom-menu">
          <ul>
            <li>
              <a routerLink="/rules" class="bg-danger">
                <i class="mdi mdi-account-check"></i> Site Rules
              </a>
            </li>
            <li>
              <a href="" class="bg-success">
                <i class="mdi mdi-android-debug-bridge"></i> App Download
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>
</div>
