/* You can add global styles to this file, and also import other style files */
:root{
  --header-color: linear-gradient(180deg,#360a43,#5c2681 42%,#360a43);
  --app-bgColor:linear-gradient(180deg,#360a43,#5c2681 42%,#360a43);
  --event-bgcolor: linear-gradient(180deg,#662d91,#8800f2);
  --theme-color: #ff0;
  --selected-btn-bg:#ff0;
  --theme-color1: #461863;
  --unselected-tabbg: #623a75;
  --text-color-white: #fff;
  --white:#fff;
  --text-dark:#343a40;
  --lay-color:#f994ba;
  --back-color:#72bbef;
  --event-title-bg:#000;
  --dekstop-header-buttons: linear-gradient(180deg,#fff,#c2bb2f);
  --login-page-bg: linear-gradient(180deg,#360a43,#300953 42%,#360a43);
  --sport-section-bg: linear-gradient(-180deg,#2e4b5e,#243a48 82%);
  --theme-bg: rgba(114,50,165,0.38823529411764707);
  --market-bg:#5f2686;
}
.text-dark {
  color: var(--text-dark)!important;
}
/*variables k name b dakh lijiye ga bhaya*/
body {
  overflow-x: hidden;
  background: var(--app-bgColor);
  color: var(--white);
  font-family: Gotham,sans-serif;
}
.wrapper {
  margin: 0;
  background: var(--login-page-bg);
}
h3 {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
