<div class="pg-container">

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <div class="pg-header bankButton" aria-expanded="false"
          aria-controls="collapseOne">
          <div>
            <img style="width: 45px;" src="assets/banks/bank.png">
            <span class="bankfont">BANK</span>
          </div>
          <a class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#ExpoModal2">
            ADD NEW
          </a>
        </div>

      </h2>

      <div class="modal fade" id="ExpoModal2" tabindex="-1" aria-labelledby="ExpoModal2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Your Bank Account</h5>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
                  class="fa-solid fa-xmark"></i> </button>
            </div>
            <div class="modal-body ">
              <div  class="col-md-12 book-popup">
                
                <form>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">Bank Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">Account Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">IFSC<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">Holder Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                
                  <button type="submit" class="btn submitAcount">Submit</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>




    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <div class="pg-header bankButton" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapseOne">
          <div class="p-2">

            <img style="width: 90px;" src="assets/banks/paytm.png">
          </div>
          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </h2>

      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body text-center">
          <div class="bank-detail">
            
            <div class="mb-3">
              <div class="recordList">
                <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                <button class="btn" style="background-color:yellow;">
                  Delete
                </button> 
              </div>
           
            </div>

            <div>
              <button type="button" class="btn deposit-submit"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm">Add New</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ExpoModalPaytm" tabindex="-1" aria-labelledby="ExpoModalPaytm" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Payment wallet Number</h5>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
                  class="fa-solid fa-xmark"></i> </button>
            </div>
            <div class="modal-body ">
              <div  class="col-md-12 book-popup">
                
                <form>
                  <div class="mb-3">
                    <label for="bankName" class="form-label"> Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">Paytm Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                
                  <button type="submit" class="btn submitAcount">Submit</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">

        <div class="pg-header bankButton" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseOne">

          <img style="width: 80px;" src="assets/banks/googlepay.png">

          <button class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#ExpoModalGoogle">
            ADD NEW
          </button>
        </div>
      </h2>

      <div class="modal fade" id="ExpoModalGoogle" tabindex="-1" aria-labelledby="ExpoModalGoogle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New Google Pay Number</h5>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
                  class="fa-solid fa-xmark"></i> </button>
            </div>
            <div class="modal-body ">
              <div  class="col-md-12 book-popup">
                
                <form>
                  <div class="mb-3">
                    <label for="bankName" class="form-label"> Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">Google Pay Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                
                  <button type="submit" class="btn submitAcount">Submit</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">

        <div class="pg-header bankButton p-2" data-bs-toggle="collapse" data-bs-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">


          <img style="width: 121px;" src="assets/banks/phonepay.png">

          <i class="fa-solid fa-arrow-right"></i>
        </div>
      </h2>

      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body text-center">
          <div class="bank-detail">
            
            <div class="mb-3">
              <div class="recordList">
                <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                <button class="btn" style="background-color:yellow;">
                  Delete
                </button> 
              </div>
           
            </div>

            <div>
              <button type="button" class="btn deposit-submit"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm">Add New</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="ExpoModalPaytm" tabindex="-1" aria-labelledby="ExpoModalPhonePay" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add New PhonePe Number</h5>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
                  class="fa-solid fa-xmark"></i> </button>
            </div>
            <div class="modal-body ">
              <div  class="col-md-12 book-popup">
                
                <form>
                  <div class="mb-3">
                    <label for="bankName" class="form-label"> Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="bankName" class="form-label">PhonePe Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankName" aria-describedby="bankName">
                  </div>
                
                  <button type="submit" class="btn submitAcount">Submit</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>