<div class="pg-container">

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <div class="pg-header bankButton" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false"
             aria-controls="collapseOne">
          <div>
            <img style="width: 60px;" src="assets/banks/bank.png">
            <span class="bankfont">BANK</span>
          </div>
          <a class="btn btn-warning"  data-bs-toggle="modal" data-bs-target="#ExpoModal2" *ngIf="bankDetails.length==0">
            ADD NEW
          </a>
          <i class="fa-solid fa-arrow-right" *ngIf="bankDetails.length>0"></i>
        </div>

      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">
      <div class="accordion-body text-center">
        <div class="bank-detail">

          <div class="mb-3">
            <div class="recordList" style="display: block">
              <div class="m-1"  *ngFor="let bank of bankDetails">
<!--                inner accordian settings -->
                <a class="pg-parent" (click)="openAccountDetails(bank.id)">
                  <div>
                    {{bank.bankName}}
                  </div>
                  <div>
                    <i class="fa-solid fa-chevron-right"></i>
                  </div>
                </a>
                <div class="pg-childs" [ngClass]="openCollapsedAccount==bank.id?'show':'hide'">
                  <ul>
                    <li>
                      <b>Bank Name:</b>&nbsp;{{bank.bankName}}
                    </li>
                    <li>
                      <b>Account No:</b>&nbsp;{{bank.accountNumber}}
                    </li>
                    <li>
                      <b>IFSC Code:</b>&nbsp;{{bank.ifsc}}
                    </li>
                    <li>
                      <b>Account Holder Name:</b>&nbsp;{{bank.accountHolderName}}
                    </li>
                  </ul>
                  <button class="btn" style="background-color:yellow;" (click)="deleteWithdrawalBankDetails(bank.id)">
                    Delete
                  </button>
                </div>

              </div>

            </div>

          </div>

          <div>
            <button type="button" class="btn deposit-submit"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm">Add New</button>
          </div>
        </div>
      </div>
    </div>
<!--      modal for add new -->
      <div class="modal fade" id="ExpoModal2" tabindex="-1" aria-labelledby="ExpoModal2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Your Bank Account</h5>
              <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
                  class="fa-solid fa-xmark"></i> </button>
            </div>
            <div class="modal-body ">
              <div  class="col-md-12 book-popup">

                <form [formGroup]="AddBankDetailsForm" (ngSubmit)="addWithdrawlBank()">
                  <div class="mb-3">
                    <label for="bankNames" class="form-label">Bank Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="bankNames" aria-describedby="bankName" formControlName="bankName">
                  </div>
                  <div class="mb-3">
                    <label for="accountNumber" class="form-label">Account Number<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="accountNumber" aria-describedby="accountNumber" formControlName="accountNumber">
                  </div>
                  <div class="mb-3">
                    <label for="ifsc" class="form-label">IFSC<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="ifsc" aria-describedby="ifsc" formControlName="ifsc">
                  </div>
                  <div class="mb-3">
                    <label for="accountHolderName" class="form-label">Holder Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="accountHolderName" aria-describedby="accountHolderName" formControlName="accountHolderName">
                  </div>

                  <button type="submit" class="btn submitAcount" data-bs-dismiss="modal" aria-label="Close" [disabled]="AddBankDetailsForm.invalid">Submit</button>
                </form>


              </div>
            </div>
          </div>
        </div>
      </div>




    </div>


    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <div class="pg-header bankButton" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
          aria-controls="collapsetwo">
          <div class="p-2">

            <img style="width: 90px;" src="assets/banks/paytm.png">
          </div>
          <a class="btn btn-warning" (click)="setUPI('PAYTM')"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm" *ngIf="upiDetails?.paytm?.length==0 ||!(upiDetails?.paytm)">
            ADD NEW
          </a>
          <i class="fa-solid fa-arrow-right" *ngIf="upiDetails?.paytm?.length>0"></i>
        </div>
      </h2>

      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample">
        <div class="accordion-body text-center">
          <div class="bank-detail">

            <div class="mb-3">
              <div class="recordList">
                <div class="recordList" style="display: block">
                  <div class="m-1"  *ngFor="let paytm of upiDetails?.paytm">
                    <!--                inner accordian settings -->
                    <div class="pg-childs show d-flex justify-content-between">
                      <div>
                        <b>{{paytm.paytmName}}:</b>&nbsp;{{paytm.paytmNumber}}
                      </div>

                      <button class="btn" style="background-color:yellow;" (click)="deleteWithdrawalBankDetails(paytm.id)">
                        Delete
                      </button>
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div>
              <button type="button" class="btn deposit-submit"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm" (click)="setUPI('PAYTM')">Add New</button>
            </div>
          </div>
        </div>
      </div>



    </div>


<!--GPAY-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingFour">

        <div class="pg-header bankButton" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
          aria-controls="collapseFour">

          <img style="width: 80px;" src="assets/banks/googlepay.png">

          <a class="btn btn-warning" (click)="setUPI('GPAY')"  data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm" *ngIf="upiDetails?.gpay?.length==0 ||!(upiDetails?.gpay)">
            ADD NEW
          </a>
          <i class="fa-solid fa-arrow-right" *ngIf="upiDetails?.gpay?.length>0"></i>
        </div>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
           data-bs-parent="#accordionExample">
        <div class="accordion-body text-center">
          <div class="bank-detail">

            <div class="mb-3">
              <div class="recordList">
                <div class="recordList" style="display: block">
                  <div class="m-1"  *ngFor="let GPay of upiDetails?.gpay">
                    <!--                inner accordian settings -->
                    <div class="pg-childs show d-flex justify-content-between">
                      <div>
                        <b>{{GPay.gpayName}}:</b>&nbsp;{{GPay.gpayNumber}}
                      </div>

                      <button class="btn" style="background-color:yellow;" (click)="deleteWithdrawalBankDetails(GPay.id)">
                        Delete
                      </button>
                    </div>

                  </div>

                </div>
              </div>

            </div>

            <div>
              <button type="button" class="btn deposit-submit" data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm" (click)="setUPI('GPAY')">Add New</button>
            </div>
          </div>
        </div>
      </div>

    </div>

<!--    Phonepay-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">

        <div class="pg-header bankButton p-2" data-bs-toggle="collapse" data-bs-target="#collapseThree"
          aria-expanded="false" aria-controls="collapseThree">


          <img style="width: 90px;" src="assets/banks/phonepay.png">
          <a class="btn btn-warning" (click)="setUPI('PHONEPE')"  data-bs-toggle="modal"  data-bs-target="#ExpoModalPaytm" *ngIf="upiDetails?.phonepe?.length==0 ||!(upiDetails?.phonepe)">
            ADD NEW
          </a>
          <i class="fa-solid fa-arrow-right" *ngIf="upiDetails?.phonepe?.length>0"></i>
        </div>
      </h2>

      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
        data-bs-parent="#accordionExample">
        <div class="accordion-body text-center">
          <div class="bank-detail">

            <div class="mb-3">
              <div class="recordList" style="display: block">
                <div class="m-1"  *ngFor="let phonepe of upiDetails?.phonepe">
                  <!--                inner accordian settings -->
                  <div class="pg-childs show d-flex justify-content-between">
                    <div>
                      <b>{{phonepe.phonepeName}}:</b>&nbsp;{{phonepe.phonepeNumber}}
                    </div>

                    <button class="btn" style="background-color:yellow;" (click)="deleteWithdrawalBankDetails(phonepe.id)">
                      Delete
                    </button>
                  </div>

                </div>

              </div>

            </div>

            <div>
              <button type="button" class="btn deposit-submit" data-bs-toggle="modal" data-bs-target="#ExpoModalPaytm" (click)="setUPI('PHONEPE')">Add New</button>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>


<div class="modal fade" id="ExpoModalPaytm" tabindex="-1" aria-labelledby="ExpoModalPaytm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add New {{selectedUPINAME}} wallet Number</h5>
        <button type="button" data-bs-dismiss="modal" aria-label="Close" class="close-btn"> <i
          class="fa-solid fa-xmark"></i> </button>
      </div>
      <div class="modal-body ">
        <div  class="col-md-12 book-popup">

          <form [formGroup]="UPIBankDetailForm" (ngSubmit)="addUPIBank()">
            <div class="mb-3">
              <label for="UpiName" class="form-label"> Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="UpiName" aria-describedby="UpiName" formControlName="UpiName">
            </div>
            <div class="mb-3">
              <label for="UpiNumber" class="form-label">{{selectedUPINAME}} Number<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="UpiNumber" aria-describedby="UpiNumber" formControlName="UpiNumber">
            </div>

            <button type="submit" class="btn submitAcount" data-bs-dismiss="modal" aria-label="Close" [disabled]="UPIBankDetailForm.invalid">Submit</button>
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
